--- 
layout: base 
---

<main>
    <section>
        <article>
            <h1>{{ title }}</h1>
            <h2>by {{ author }}</h2>
            <div class="format-text">
                <img src="{{ cover }}" alt="{{ publication }}">
                {{ content | safe }}
            </div>
        </article>
    </section>
</main>